<div class="faq-top-img">
    <div class="effect-over-hand "></div>
    <!--visible animated fadeInUp-->
    <div class="container">
        <div class="col-lg-12">
            <h1>Allow me to create you a <span class="color-txt">solution</span> that maximizes your customer experience.</h1>
        </div>
    </div>
</div>

<!-- About Me Intro -->
<div id="about" class="section-images">
    <div class="col-lg-12 text-center">
        <h1 class="section-title">I am <span>Jaser Akuly</span></h1>

        <p class="sub-title">Full Stack Javascript Developer

        <p>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h2>Let me explain..</h2>

                <p>Graduated with a Marketing Degree from University of Texas at Arlington thinking I'll be an Account
                    Manager for some large firm one day. Little did I know that in just less than one year I would
                    become a self-taught Full Stack Javascript Developer</p>

                <p>I like to see the world, sports fanatic, dancer, music enthusist, a strory teller of various topics
                    and just a down to earth get things type of guy. When I'm not developing, I can usually be found at
                    the gym working out, playing basketball, at a concert, riding around the city in my Hoverboard,
                    sporting event or learning a new dance. Sometimes a combination of it all.</p>

                <p class="personal-phrase"><i class="fa fa-quote-left"></i>
                    Harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque<i class="fa fa-quote-right"></i>
                </p>

                <p>Autonomy, Mastery and Purpose. My three factors that lead me to better performance and personal
                    satisfaction</p>

            </div>
            <div id="screenAnimation" class="col-lg-6 col-md-6 device-slide">
                <div class="animation" data-animation-step="{{customAttributeValue}}">
                    <div class="device">
                        <div class="phone-home-button"></div>
                        <div class="tablet-home-button"></div>
                        <div class="screen-stand">
                            <div class="leg"></div>
                            <div class="foot"></div>
                        </div>
                        <div class="display">
                            <div class="slide1">
                                <div>Create Web-Application <br> that work on <em>desktops</em></div>
                            </div>
                            <div class="slide2">
                                <div>that work on <em>tablets</em></div>
                            </div>
                            <div class="slide3">
                                <div>and that work <br> on <em>phones</em></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Consultant Banner -->
<div class="section-colored text-center">
    <div class="section-ground"></div>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="home-middle-parallax">Development is a universal concept. </h2>
                <hr/>
                <p>Being fearless and having the courage to push to learn new things is what allows me to be apart of
                    that concept. I've been blessed to work with: </p>

                <p> Node.JS | Angular.JS | Express.JS | Handlebars.JS | HTML | CSS | Javascript | Bootstrap | WebStorm |
                    GitHub | Jira | Digital Ocean | </p>

            </div>
        </div>
        <!-- /.row -->
    </div>
</div>

<!-- Services Provided -->
<div id="services" class="section wave">

    <div class="container">

        <div class="row banner-info">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Providing <span>Services</span></h1>

                <p class="sub-title">I like to be diverse in all the services I can provide, if you don't see it below
                    chances are I can still take care of it.</p>
            </div>

            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-lightbulb"></span></div>
                <div class="col-lg-10 col-md-10"><h3>Web-Application Development</h3>

                    <p>Web Application development helps implement software that can be accessed with a web-browser as
                        your single interface. Applications such as: E-Commerce Solution, Restaurant Feed and Ordering
                        Service, Enterprise Admin Portals and other scalable applications.</p></div>
            </div>

            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-pencil"></span></div>
                <div class="col-lg-10 col-md-10"><h3>Marketing</h3>

                    <p>Developing and implementing your marketing plan including designing your brand, choosing your
                        channels, developing business assets and sharing your message with the right audience. Services
                        such as: SEO, Email-Marketing, digital advertisements and print marketing.</p></div>
            </div>

            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-tools"></span></div>
                <div class="col-lg-10 col-md-10"><h3>Whiteboard Animations</h3>

                    <p>Why lose the fun and value in promoting your product, brand and or awareness. Allow me to create
                        informational and strong valued animated marketing presentations for you to deliver to a large
                        audience. Promote or be remembered in a unique and different form.</p></div>
            </div>

        </div>

        <!-- /.row -->
        <div class="row banner-info">

            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-tools"></span></div>
                <div class="col-lg-10 col-md-10"><h3>Development Tutoring</h3>

                    <p>We all want to learn how to code. I love to learn and I love to teach what I learn. Allow me to
                        help you understand complex code into simple thinking so that even a 5th grade could understand
                        it. It gives me great pleasure to be able to help the development community.</p></div>
            </div>

            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-beaker"></span></div>
                <div class="col-lg-10 col-md-10"><h3>Supplement Business</h3>

                    <p>Kyäni has developed an extraordinary nutritional system that has helped thousands around the
                        world to achieve optimal health. Enjoy freedom of your own hours and spending time on the things
                        you want. Kyäni helps you create a lifestyle you’ve always dreamed of! </p></div>
            </div>

            <div class="col-lg-4 col-md-4 home-info-desc">
                <div class="col-lg-2 col-md-2 icn-con"><span class="icon-document"></span></div>
                <div class="col-lg-10 col-md-10"><h3>Real Estate Services</h3>

                    <p>Envision each transaction as a small business partnership with established fiscal goals, a need
                        for due diligence, an agreed marketing plan and careful analysis of the product to sell or
                        purchase being sure that it satisfies the needs of the seller or buyer.</p></div>
            </div>


        </div>
    </div>
    <!-- /.container -->

</div>

<!-- Recent Work -->
<div id="portfolio" class="section">

    <div class="container">

        <div class="row img-shadow effect-5">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Recent <span>Work</span></h1>

                <p class="sub-title">Check out some of the cool stuff I've been able to work on!</p>
            </div>
            <div class="group filter-button-top">
                <ul class="filter group albumFilter">
                    <li ng-click="myFilter = null" class="active">ALL</li>
                    <li ng-click="myFilter = {category: 'web'}">Web</li>
                    <li ng-click="myFilter = {category: 'market'}">Marketing</li>
                    <li ng-click="myFilter = {category: 'creative'}">Creative</li>
                    <li ng-click="myFilter = {category: 'random'}">Random</li>
                </ul>
            </div>

            <div id="cbp-vm" class="activegrid">
                <ul id="product" class="nav-pills nav-stacked rectangle-list" ng-controller="dataImagesWork">
                    <li class="col-md-4 my-gallery-animation-home3"
                        ng-repeat="product in images_work | filter:myFilter">
                        <img ng-src="images/{{product.src}}" alt="{{product.name}}"/><br/>

                        <a class="title" href=""> {{product.name}} </a>

                        <p class="description"> {{product.description}} </p>

                        <a class="btn btn-lg btn-primary" href="">Details</a>

                        <div class="clear"></div>
                    </li>
                </ul>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>


<div id="clients-home3" class="parallax-texture">
    <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-title">"DON'T FORGET TO <span>LIVE</span> BEFORE YOU DIE."</h1>
                    <hr>
                    <p class="sub-title">-Jaser Akuly</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Contact Us Fourm -->
<div id="contact" class="container">
    <div class="row last-inf-dt">

        <div class="col-sm-12">
            <div class="col-lg-12 text-center">
                <h1 class="section-title">Learn <span>More</span></h1>

                <p class="sub-title">Contact me so I can understand exactly what you are looking. Let me capture
                    information to create the best solution for you.</p>
            </div>
            <form id="contact-form" role="form" method="POST" action="#" ng-controller="formCtrl">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="input1">Name *</label>
                        <input type="text" name="contact_name" placeholder="e.g. John Smith" class="form-control"
                               id="name">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="input1">Company Name</label>
                        <input type="text" name="contact_name" placeholder="e.g. SQ1" class="form-control" id="input5">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-6">
                        <label for="input2">Email Address *</label>
                        <input type="email" name="contact_email" placeholder="e.g. mail@example.com"
                               class="form-control" id="email">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="input3">Phone Number *</label>
                        <input type="phone" name="contact_phone" placeholder="(972) 555-7878" class="form-control"
                               id="input3">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Message * </label>
                        <textarea name="contact_message" class="form-control" rows="6" id="message"></textarea>
                    </div>

                    <!--<div class="form-group col-lg-12">-->
                    <!--<div class="col-lg-12 col-md-12"><h2>Services | Packages You Are Interested In</h2></div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div><label><input type="checkbox" ng-model="opts.val1" /> Web Application Development Preferred Package</label></div>-->
                    <!--<div><label><input type="checkbox" ng-model="opts.val2" /> Marketing Preferred Package</label></div>-->
                    <!--<div><label><input type="checkbox" ng-model="opts.val3" /> Whiteboard Animations Preferred Package</label></div>-->

                    <!--</div>-->

                    <!--<div class="col-md-6">-->
                    <!--<div><label><input type="checkbox" ng-model="opts.val4" /> Development Tutoring Preferred Package</label></div>-->
                    <!--<div><label><input type="checkbox" ng-model="opts.val5" /> Supplement Business</label></div>-->
                    <!--<div><label><input type="checkbox" ng-model="opts.val6" /> Real Estate Preferred Package </label></div>-->
                    <!--</div>-->
                    <!--</div>-->


                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-primary bt-contact-submit">Submit</button>
                        <!--<label>Estimated Total Cost: {{ computedTotal() }}</label>-->
                        <p class="success">Your message has been sent successfully.</p>

                        <p class="error">E-mail must be valid or message must be longer than 20 characters.</p>
                    </div>


                </div>
            </form>
        </div>

    </div>
    <!-- /.row -->

</div>

<!-- Email Script -->
<script type="text/javascript">
    /********************************************
     EMAIL CONTROL
     ********************************************/

    $(function () {
        "use strict";
        $('#contact-form').submit(function (e) {
            e.preventDefault();
            var form = $(this);
            var name = $("#name").val();
            var email = $("#email").val();
            var text = $("#message").val();
            var dataString = 'name=' + name + '&email=' + email + '&message=' + text;

            function isValidEmail(emailAddress) {
                var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
                return pattern.test(emailAddress);
            };

            if (isValidEmail(email) && (text.length > 20) && (name.length > 1)) {
                $.ajax({
                    type: 'POST',
                    url: "contact_form/contact_process.php",
                    data: dataString,
                    success: function () {
                        $('.success').fadeIn(1000);
                        $("#name").val("");
                        $("#email").val("");
                        $("#message").val("");
                    }
                });
            } else {
                $('.error').fadeIn(1000);
            }

        });
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


<script>
    /**************  Animated images portfolio  ************************/
    $(document).ready(function () {
        $(".img-prt").hover(function () {
                    $(this).addClass("hover");
                }, function () {
                    $(this).removeClass("hover");
                }
        );
    });
</script>
<!-- Script  SlideShow -->

