	<footer>
		<div class="container">
			<div class="row">
				<div class="logo-in-footer col-xs-12 col-md-5">
					<div class="logotype">
						<div class="footer-logo">
							<img src="/assets/img/logo-footer.png" alt="">
						</div>
						<div class="footer-quote">
							<img src="/assets/img/footer-quote.png" alt="">
						</div>
					</div>
				</div>
				<div class="footer-blockquote col-xs-12 col-md-7">
					<p>The purpose of life, after all, is to live it, to taste experience to the utmost,
					to reach out eagerly and without fear for <span class="gold">newer and richer experiences.</span></p>
					<p class="author-blockquote">-Eleanore Roosevelt</p>
				</div>
				<nav class="footer-menu col-md-12 col-xs-12">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Find an Experience</a></li>
						<li><a href="">Event Holder Signup</a></li>
						<li><a href="">About LIVNGO</a></li>
						<li><a href="">Contact Us</a></li>
					</ul>
				</nav>
			  <div class="face col-md-12 col-xs-12">
			  	<img src="/assets/img/cool-men.png" alt="">
			  </div>
			  <div class="footer-text col-md-12 col-xs-12">
			  	<p>
			  	Ihil magnatque cus ex est porrorecae non con porepudae endem. Haria nient volupta-
					mus, optaerr umendelibus rehent hil inctius peruntist lab imincidis sum ellictus dollandis
					abo. Itas essinullanda nimoluptam, volum sitiatet aut maximinvel et et volor moluptas
					voloreria consece pratium faciist, oditaque por alit harchiliate persp
			  	</p>
			  </div>
			</div>
		</div>
  </footer>