    <div id="traveler">
      <div class="traveler-content">
        <div class="container">
          <div class="row">
            <div class="traveler-images col-md-4">
              <div class="image-container">
                <img src="assets/img/sound.png" class="sound" alt="">
                <img src="assets/img/burger.png" class="burger" alt="">
                <img src="assets/img/sun.png" class="sun" alt="">
              </div>
              <p>(for placement only,</p>
              <p>would create an icon set)</p>
            </div>
            <div class="traveler-block col-md-8">
              <h1>Which traveler archetype are you?</h1>
              <p>Take our quiz to find out.</p>
              <a href="" class="btn btn-primary"><span class="btn-border">I’m Curious!</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="treveler-quote">
        <div class="container">
          <div class="row">
            <div class="trevel-cont">
              <h1>Travel from a local’s perspective.</h1>
              <p>An authentic travel experience - from unique places to stay,
              local suggested food and experiences - get the scoop that
              only a local could give.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="better">
      <div class="better-img">
        <div class="container">
          <div class="row">
            <div class="better-block col-md-8">
              <h1>It ’s better together.</h1>
              <p>Go with friends or make new ones</p>
            </div>
          </div>
        </div>
      </div>
      <div class="better-btn">
        <div class="container">
          <div class="row">
            <h1>Say “Yes” to new adventures.</h1>
            <p>Find your next destination
            <a href="" class="btn btn-primary"><span class="btn-border">Go</span></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div id="memories">
      <div class="container">
        <div class="row"><h1>Make new memories.</h1></div>
      </div>
    </div>

    <div id="waiting">
      <div class="container">
        <div class="row"> 
          <div class="waiting-content">
            <div class="image-waiting col-xs-12 col-md-4"> <img src="/assets/img/cool-men.png" alt=""> </div>
            <div class="waiting-text col-xs-12 col-md-8"> 
              <h1>So what are you
                  waiting for?<hr></h1>

              <p> Give us a try, it’s free! </p>
              <a href="" class="btn btn-warning"><span class="btn-border">Sign Up Now!</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>